*{
    font-family: sans-serif,Arial;
}

html{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
}
#calculator{
  width: 384px;
  height: 564px;
  background-color: #171515;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}

#screen{
    background-color: #B3C36F;
    width: 100%;
    height: 15%;
    /* align-self: center; */
    margin-top: 7%;
    text-align: end;
    font-size: 4em;

}
button{
    border: 0;
}
button:active{
    border: 2px solid white;
}
#clear{
    width: 15%;
    height: 30px;
    color: white;
    background-color: #04E79D;
    align-self: flex-end;
    text-align: center;
    margin-top: 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.25em;
}

#button_container{
    display: flex;
}
.leftSide{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 59.2%;
    justify-content: space-between;
}
.rightSide{
    width: 40.8%;
    display: flex;
    flex-flow: column wrap;
    margin-top: 15px;
    box-sizing: border-box;
    margin-left: 7px; 
    height: 313.562px;
    /* align-content: space-between; */


}
.button{
    font-size: 50px;
    color: white;
    border-radius: 10px;
    text-align: center;
    background-color: #4A4D4C;
    width: 56.828px;
    height: 60.047px;
    margin-bottom: 18.328px;
}
/* .leftSide .button{
    width: 31%;
    margin-bottom: 10%;
} */

.button#zero{
    flex: 2 1 0;
    margin-right: 8px;
}

.button#equal{
    flex: 2 1 0;
}

